<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>IdentiHome</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body { padding-top:15px; }
		@media (min-width: 770px) {
			body { padding-top:80px; }
			#searchChip label { line-height: 1.4 }
			input[name="chipNr"] { width: 80%; display: inline-block; }
		  	.details-box, .no-results, .searchDetails { left: 25%; }
		}
		@media (max-width: 770px) {
			#searchChip label { line-height: 1.4; }
			#searchChip input { margin-bottom: 15px; }
			div.jumbotron { margin-bottom: 15px; }
		}
	</style>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
<div class="container">

	<div class="jumbotron text-center">
		<h1><span class="fa fa-home"></span> IdentiHome</h1>

		<% if (!loggedIn) { %>
			<!-- <p>First time:</p> -->
			<a href="/signup" class="btn btn-default"><span class="fa fa-pencil-square-o"></span> Register</a>

			<!-- <p>Already have an account:</p> -->
			<a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
		<% } else { %>
			<a href="/profile" class="btn btn-default"><span class="fa fa-user"></span> Profile</a>
			<a href="/logout" class="btn btn-default"><span class="fa fa-sign-out"></span> Logout</a>
		<% } %>

		<a href="/about" class="btn btn-default"><span class="fa fa-group"></span> About Us</a>
		<a href="/contact" class="btn btn-default"><span class="fa fa-phone"></span> Contact Us</a>

		<br><br>

		<!-- <form id="searchChip" action="/searchChip" method="post"> -->
			<div class="form-group">
				<label>Search pet's chip number:</label>
				<br>
				<input type="text" class="form-control" name="chipNr" required>
				<button id="search" type="submit" class="btn btn-warning btn-lg"><span class="fa fa-search"></span> Search</button>
			</div>
		<!-- </form> -->

	</div>

	<div class="searchDetails row hidden">
		<div class="details-box col-sm-6">
			<div class="well">
				<form id="searchChip" action="/searchChip" method="post">
					<p>
						Please enter your details below. 
						<!-- The pet owner will be notified of your search. -->
					</p>
					<label>Searcher's Name</label>
					<br>
					<input type="text" class="form-control" name="name" required>
					<label>Searcher's Contact Number</label>
					<br>
					<input type="text" class="form-control" name="contact" required>
					<label>Clinic / Welfare Name</label>
					<br>
					<input type="text" class="form-control" name="clinic">
					<br>

					<button id="submit" type="submit" class="btn btn-info btn-lg">Submit</button>
				</form>
			</div>
		</div>
	</div>

	<div class="ownerDetails row hidden">
		<!-- PET & OWNER DETAILS -->
		<div class="details-box col-sm-6">
			<div class="well">
				<h3><span class="fa fa-user"></span> Pet Owner Details</h3>
				<p>
					<strong>Pet's Name</strong>: <span class="petName"></span> <br>
					<strong>Owner's Contact Number</strong>: <span class="contact"></span> <br>
					<strong>Alternate Contact Number</strong>: <span class="alternateContact"></span> <br>
					<strong>Veterinary/Clinic Name</strong>: <span class="vetName"></span> <br>
					<strong>Veterinary Contact Number</strong>: <span class="vetContact"></span> <br>
					<strong>Breed</strong>: <span class="breed"></span> <br>
					<strong>Health Conditions</strong>: <span class="conditions"></span> <br>
					<strong>Current Medication</strong>: <span class="medication"></span> <br>
					<strong>Year Born</strong>: <span class="born"></span> <br>
					<!-- <strong>Date registered</strong>: <span class="dateAdded"></span> <br> -->
					<!-- <strong>Chip Number</strong>: <span class="chipNr"></span> <br> -->
				</p>
			</div>
		</div>
		<!-- PET & OWNER DETAILS -->
	</div>

	<!-- NO RESULTS -->
	<div class="no-results hidden col-sm-6">
		<div class="well">
			<p>
				No results were found for that chip number, please make sure it is entered correctly and try again.
			</p>
		</div>
	</div>
	<!-- NO RESULTS -->

	<script>
		var scrollz = function(selector){
			console.log(selector);
			// window.scrollTo($(selector).offset().top, 0);
			$('html, body').animate({scrollTop: $(selector).offset().top - 30}, 700);
		}

		$('#search').click(function(e){
			e.preventDefault();

			// Validate chip number
			var chipNr = $('input[name="chipNr"]').val();
			if (chipNr.length < 4) {
				return alert('Please enter a valid chip number');
			}

			$('.ownerDetails').addClass('hidden');
			$.post('/validateChipNr', {chipNr: chipNr}, function(result){
				if (result.error) {
					$('.ownerDetails').addClass('hidden');
					$('.no-results').removeClass('hidden');
					$('.searchDetails').addClass('hidden');
					scrollz('.no-results');
				} else {
					// Reveal searchDetails inputs
					$('.searchDetails').removeClass('hidden');
					$('.no-results').addClass('hidden');
					console.log(result);
					scrollz('.searchDetails');
				}
			});
			
		});

		$('#searchChip').submit(function(e){
			e.preventDefault();

			var chipNr = $('input[name="chipNr"]').val();
			if (chipNr.length < 4) {
				return alert('Please enter a valid chip number');
			}

			var name = $('input[name="name"]').val();
			var contact = $('input[name="contact"]').val();
			var clinic = $('input[name="clinic"]').val();
			$.post('/searchChip', {
					chipNr: chipNr,
					name: name,
					contact: contact,
					clinic: clinic
				}, function(user){
				console.log(user);
				if (user) {
					$('.petName').text(user.pets[0].petName);
					$('.contact').text(user.contact);
					$('.alternateContact').text(user.alternateContact);
					// $('.chipNr').text(user.pets[0].chipNr);
					$('.vetName').text(user.pets[0].vetName);
					$('.vetContact').text(user.pets[0].vetContact);
					$('.breed').text(user.pets[0].breed);
					$('.conditions').text(user.pets[0].conditions);
					$('.medication').text(user.pets[0].medication);
					$('.born').text(user.pets[0].born);
					// $('.dateAdded').text((new Date(user.pets[0].dateAdded)).toLocaleDateString("en-US"));

					$('.no-results').addClass('hidden');
					$('.ownerDetails').removeClass('hidden');
					scrollz('.ownerDetails');
				} else {
					$('.ownerDetails').addClass('hidden');
					$('.no-results').removeClass('hidden');
					scrollz('.no-results');
				}
			})
		})
	</script>

</div>
</body>
</html>