<!-- /*****************************************************
Please note that this file may have been modified, changed and/or adapted from the original.
This notice serves to fulfill the requirement of the Apache 2.0 license clause 4(b): 
"You must cause any modified files to carry prominent notices stating that You changed the files."
Please see the licenses section to find the license to the original.
*****************************************************/ -->

<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>IdentiHome User Profile</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
		@media (max-width: 770px) {
			body { padding-top: 0px; }
			.page-header { margin-top: 0; padding-bottom: 18px; }
			.addPet { margin-bottom: 25px; }
		}
		img.pet {
			width: 100%;
		}
	</style>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1>
			<!-- <span class="fa fa-home"></span>  -->
			Your Profile
		</h1>
		<a href="/" class="btn btn-default btn-sm"><span class="fa fa-home"></span> Home</a>
		<a href="/logout" class="btn btn-default btn-sm"><span class="fa fa-sign-out"></span> Logout</a>
	</div>

	<!-- show any messages that come back with authentication -->
	<% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>

	<div class="row">

		<!-- LOCAL INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-user"></span> Owner Details</h3>

					<p>
						<strong>Full Name</strong>: <%= user.name %><br>
						<strong>Email</strong>: <%= user.local.email %><br>
						<strong>Contact</strong>: <%= user.contact %><br>
						<strong>Address</strong>: <%= user.address %><br>
						<strong>Postal Code</strong>: <%= user.postalCode %><br>
						<strong>Alternate Contact</strong>: <%= user.alternateContact %><br>
						<strong>Date Registered</strong>: <%= (new Date(user.registered)).toLocaleDateString("en-US") %>
					</p>

			</div>

			<% for(var i=0; i<user.pets.length; i++) { %>
					<!-- LOCAL INFORMATION -->
					<div class="well">
						<h3><span class="fa fa-check"></span> Pet Details</h3>
						<p>
							<strong>Pet's Name</strong>: <%= user.pets[i].petName %><br>
							<strong>Chip Number</strong>: 
								<span class="chipNr"><%= user.pets[i].chipNr %></span>
								<br>
							<!-- <strong>Type</strong>: <%= user.pets[i].petType %><br> -->
							<strong>Breed</strong>: <%= user.pets[i].breed %><br>
							<strong>Year born</strong>: <%= user.pets[i].born %><br>
							<strong>Veterinary Name</strong>: <%= user.pets[i].vetName %><br>
							<strong>Veterinary Contact</strong>: <%= user.pets[i].vetContact %><br>
							<strong>Health Conditions</strong>: <%= user.pets[i].conditions %><br>
							<strong>Current Medication</strong>: <%= user.pets[i].medication %><br>
							<strong>Date added</strong>: <%= (new Date(user.pets[i].dateAdded)).toLocaleDateString("en-US") %><br>
						</p>

						<img class="pet" src="<%= user.pets[i].image ? user.pets[i].image : '' %>">
						<input type="file" class="fileInput">
						<!-- <button type="submit" class="fileInput btn btn-info btn-lg"><span class="fa fa-plus-square"></span> Add Pet Photo</button> -->
					</div>
					<!-- LOCAL INFORMATION -->

			<% } %>
		</div>
		<!-- LOCAL INFORMATION -->
		<div class="col-sm-6">
			
			<form action="/registerPet" method="post">
				<div class="form-group">
					<label>Pet's name</label>
					<input type="text" class="form-control" name="petName">
				</div>
				<div class="form-group">
					<label>Chip number</label>
					<input type="text" class="form-control" name="chipNr">
				</div>
				<!-- <div class="form-group">
					<label>Pet Type</label>
					<input type="text" class="form-control" name="petType">
				</div> -->
				<div class="form-group">
					<label>Breed</label>
					<input type="text" class="form-control" name="breed">
				</div>
				<div class="form-group">
					<label>Year born</label>
					<input type="text" class="form-control" name="born">
				</div>
				<div class="form-group">
					<label>Veterinary/Clinic Name</label>
					<input type="text" class="form-control" name="vetName">
				</div>
				<div class="form-group">
					<label>Veterinary Contact Number</label>
					<input type="text" class="form-control" name="vetContact">
				</div>
				<div class="form-group">
					<label>Health Conditions (i.e. allergies)</label>
					<input type="text" class="form-control" name="conditions">
				</div>
				<div class="form-group">
					<label>Current Medication (optional)</label><br>
					<textarea rows="4" cols="50" name="medication"></textarea>
				</div>

				<button type="submit" class="addPet btn btn-warning btn-lg"><span class="fa fa-plus-square"></span> Add Pet</button>
			</form>

		</div>

	</div>

</div>

<script type="text/javascript" src="/js/lib/s3upload.js"></script>
<script type="text/javascript" src="/js/utils/upload.js"></script>

</body>
</html>