<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>IdentiHome Login</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body 		{ padding-top:80px; }
		@media (max-width: 770px) {
			body { padding-top: 0px; margin-top: 15px; }
		}
	</style>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
<div class="container">
	<div class="col-sm-6 col-sm-offset-3">

		<h1><span class="fa fa-key"></span> Reset password</h1>

		<!-- show any messages that come back with authentication -->
		<% if (message.fail && message.fail.length > 0) { %>
			<div class="alert alert-danger"><%= message.fail %></div>
		<% } %>
		<% if (message.success && message.success.length > 0) { %>
			<div class="alert alert-success"><%= message.success %></div>
		<% } %>

		<!-- RESET FORM -->
		<!-- <br> -->
		<!-- <p>Please enter your email address below, to reset your password</p> -->
		<form method="post">
			<div class="form-group">
				<label>New Password</label>
				<input type="password" class="form-control" name="password">
			</div>
			<div class="form-group">
				<label>Confirm Password</label>
				<input type="password" class="form-control" name="confirmPassword">
			</div>

			<button type="submit" class="btn btn-warning btn-lg">Submit</button>
		</form>

		<hr>

		<!-- <p>Need an account? <a href="/signup">Signup</a></p> -->
		<p>Back to login <a href="/login">Login</a></p>
		<p>Or go <a href="/">home</a>.</p>

	</div>
</div>

<script>
	$('form').submit(function(e){
		if ($('input[name="password"]').val() != $('input[name="confirmPassword"]').val()) {
			e.preventDefault();
			alert('Please make sure both passwords match');
			$('input[name="confirmEmail"]').focus();
		}
	})
</script>

</body>
</html>