<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>IdentiHome Login</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body 		{ padding-top:80px; }
		@media (max-width: 770px) {
			body { padding-top: 0px; margin-top: 15px; }
		}
	</style>
</head>
<body>
<div class="container">
	<div class="col-sm-6 col-sm-offset-3">

		<h1><span class="fa fa-key"></span> Reset password</h1>

		<!-- show any messages that come back with authentication -->
		<% if (message.fail && message.fail.length > 0) { %>
			<div class="alert alert-danger"><%= message.fail %></div>
		<% } %>
		<% if (message.success && message.success.length > 0) { %>
			<div class="alert alert-success"><%= message.success %></div>
		<% } %>

		<!-- RESET FORM -->
		<!-- <br> -->
		<!-- <p>Please enter your email address below, to reset your password</p> -->
		<form action="/reset" method="post">
			<div class="form-group">
				<label>Email</label>
				<input type="text" class="form-control" name="email" <%= message.success && message.success.length > 0 ? 'disabled' : '' %> >
			</div>

			<button type="submit" class="btn btn-warning btn-lg">Reset</button>
		</form>

		<hr>

		<p>Need an account? <a href="/signup">Signup</a></p>
		<p>Back to login <a href="/login">Login</a></p>
		<p>Or go <a href="/">home</a>.</p>

	</div>
</div>
</body>
</html>