<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>IdentiHome Signup</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body 		{ padding-top:80px; }
		@media (max-width: 770px) {
			body { padding-top: 0px; }
		}
	</style>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

	<h1><span class="fa fa-sign-in"></span> Signup</h1>

	<!-- show any messages that come back with authentication -->
	<% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>

	<!-- LOGIN FORM -->
	<form class="signup" action="/signup" method="post">
		<div class="form-group">
			<label>Name and Surname</label>
			<input type="text" class="form-control" name="name" required>
		</div>
		<div class="form-group">
			<label>Email</label>
			<input type="text" class="form-control" name="email" required>
		</div>
		<div class="form-group">
			<label>Confirm Email</label>
			<input type="text" class="form-control" name="confirmEmail" required>
		</div>
		<div class="form-group">
			<label>Password</label>
			<input type="password" class="form-control" name="password" required>
		</div>
		<!-- <div class="form-group">
			<label>Pet's name</label>
			<input type="text" class="form-control" name="petName">
		</div>
		<div class="form-group">
			<label>Chip number</label>
			<input type="text" class="form-control" name="chipNr">
		</div> -->
		<div class="form-group">
			<label>Contact Number</label>
			<input type="text" class="form-control" name="contact" required>
		</div>
		<div class="form-group">
			<label>Address</label>
			<input type="text" class="form-control" name="address" required>
		</div>
		<div class="form-group">
			<label>Postal Code</label>
			<input type="text" class="form-control" name="postalCode" required>
		</div>
		<div class="form-group">
			<label>Alternate Contact Number (friend or family member)</label>
			<input type="text" class="form-control" name="alternateContact" required>
		</div>
		<div class="form-group">
			<input type="checkbox" name="promotions" value="true" checked>
			I would like to receive regular updates on pet health, support and treatment options
		</div>

		<button type="submit" class="btn btn-warning btn-lg">Signup</button>
	</form>

	<hr>

	<p>Already have an account? <a href="/login">Login</a></p>
	<p>Or go <a href="/">home</a>.</p>

</div>

</div>

<script>
	$('form.signup').submit(function(e){
		if ($('input[name="email"]').val() != $('input[name="confirmEmail"]').val()) {
			e.preventDefault();
			alert('Please make sure both email addresses match');
			$('input[name="confirmEmail"]').focus();
		}
	})
</script>

</body>
</html>
